* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

/*BURGERMENU*/

header nav a:link {
    color: #ada08f;
}

header nav a:visited {
    color: #ada08f;
}

header nav a:hover {
    color: gray;
}

header nav a:active {
    color: #9f907d;
}

.hidden {
    transform: translateX(100%);
    opacity: 0;
}

header {
    left: 0;
    width: 100%;
    top: 0;
}

header nav {
    color: black;
    text-align: right;
}

header nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 7px;
    text-align: center;
    flex-direction: row;
}

#menuknap {
    display: inline-block;
    font-size: 2rem;
    color: #a59a8c;
    margin: 1vw 1vw;
}

#menu a {
    display: block;
    /* This makes the menu vertical */
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    font-family: sans-serif;
    transform-origin: top right;
}

@media only screen and (min-width: 700px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu a {
        display: inline-block;
        font-size: 1.6rem;
        /* This makes the menu horisontal */
    }
}

/*STARTSIDE*/
#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash.png);
    background-size: cover;
    background-position: 20%;
    max-width: none;
}

/*PORTFOLIO*/
#portfolio {
    background-color: #f0e5d4;
}

.billede {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70vw;
    margin-left: -10vw;
    margin-top: -30vw;
}

#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

#portfolio .col {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin: 0 25px;
    align-content: center;
}

.lastcol {}

.col img {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .8s ease-in-out;
}

.col img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}
